# R environment / session files
.Rhistory
.RData
.Rproj.user
.Ruserdata

# renv library
renv/library/

# Quarto and output files
/.quarto/
**/*.quarto_ipynb
_site/
_freeze/
*.html
*.pdf


# IDE and editor files
.vscode/
.idea/
*.swp
*~

# OS specific
.DS_Store
Thumbs.db
desktop.ini
